<!DOCTYPE html>
<html>
<head>
    <title>instaCal - Add Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href = "css/styles.css" rel = "stylesheet">
    <script src = "js/bootstrap-datetimepicker.min.js"></script>
    <script src = "bstrap/docs/assets/js/bootstrap.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
    href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">

</head>
  <body>


    <div class="navbar navbar-default navbar-static-top">
    <div class="navbar-inner">
    <a class="brand"  href = "index" >instaCal</a>
    <ul class="nav">

    </ul>
  </div>
</div>


    <div class = "container">
        <form method = "post" action = "eventsuccess">
          <div class = "container" style="margin-left:25px" >
            <h4>Event Title </h4>
          </div>
            
            <input name= "title" type="text" class="form-control"  style="margin-left:25px" id="title" placeholder="Title" required autofocus>
            <div class = "container" style="margin-left:25px" >
              <h4>Add to... </h4>
            </div>
            <select input type="text"  style="margin-left:25px" class="form-control" placeholder="" name="filter">
                <option value="social">Social</option>
                <option value="work">Work</option>
                <option value="volunteering">Volunteering</option>
            </select>

            <div class="well2" style="margin-left:25px">
                <h4>Start time</h4>
                <div id="starttimepicker" class="input-append" placeholder="start time">
                   <input style="width:190px" data-format="yyyy-MM-dd HH:mm:ss PP" type="text" name="starttime"></input>
                   <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                  </span>
                </div>
            </div>
          <script type="text/javascript">
              $(function() {
               $('#starttimepicker').datetimepicker({
                   language: 'en',
                   pick12HourFormat: true
               });
           });
          </script>

          <div class="well2" style="margin-left:25px">
            <h4>End time</h4>
            <div id="endtimepicker" class="input-append" placeholder="end time">
               <input style="width:190px" data-format="yyyy-MM-dd HH:mm:ss PP" type="text" name ="endtime"></input>
               <span class="add-on">
                   <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                   </i>
               </span>
            </div>
          </div>
           <script type="text/javascript">
           $(function() {
              $('#endtimepicker').datetimepicker({
                  language: 'en',
                  pick12HourFormat: true
              });
          });
           </script>
   </div>

   <div class = "container" style="margin-left:25px">
    <h4>Notes</h4>
    <textarea class="form-control" rows="3" id="notes"></textarea>
  </div>
    </div>
     <div class="navbar-fixed-bottom-pull-right" style="margin-left:20px"  style="margin-bottom:50px">

    <ul class="nav">

      <p><input type="submit" class="btn btn-primary btn-lg" role="button"></input></p>
    
      <a href = "calendar" class = "btn btn-danger">Cancel</a>
    </ul>
      
    </div>

    </div>
        </div>
            
  <p></p>
  <p></p>
</form>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48537523-1', 'instacal.herokuapp.com');
  ga('send', 'pageview');

</script>


</body>

<link rel="stylesheet" type="text/css" href="jquery.datetimepicker.css"/ >
<script src="jquery.js"></script>
<script src="jquery.datetimepicker.js"></script>


    <footer>
 
<div class="btn-group" style="margin-top:40px" >
<a href = "feed" class = "btn btn-primary">Feed</a>
<a href = "profile" class = "btn btn-default">Profile</a>
     <a href = "friends" class = "btn btn-primary">Search</a>
      <a href = "settings" class = "btn btn-primary">Settings</a>
</div>




    
    
    </footer>


</html>