<!DOCTYPE html>
<html>
<head>
    <title>instaCal </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/bootstrap.min.css" rel = "stylesheet">
    <link href = "css/styles.css" rel = "stylesheet">
</head>
<body>

    <div class = "navbar navbar-default navbar-static-top">
        <div class = "container">

            <a href = "index" class = "navbar-brand">instaCal</a>
        </div>
    </div>


    <div class = "container" style="margin-bottom:75px">
        <div class = "jumbotron text-center">

            <img src="https://scontent-a-pao.xx.fbcdn.net/hphotos-ash2/t1/1001296_4304329546053_621296507_n.jpg" class="img-thumbnail imageClip"  >

            <h3 class="text-center">Brian Clark</h3>

            <div class = "container">
                <h7> Bio: </h7>
                <div style="margin-top: 1px"> 
                    <small> Haha what, bio? Naa, I'm CS
                    </small>
                </div>

            </div>
            <div style="margin-top: 10px"> 

                <p>

              <input align="left" type="button pull-left" value="Friends" onclick="return change(this);" class="btn btn-success" />

                <script type="text/javascript">
                function change( el )
                {
                    if ( el.value === "Friends" ){
                        el.value = "Add Friend";
                        el.class ="btn btn-default";
                    }
                    else{
                        el.value = "Friends";
                        el.class ="btn btn-success";
                    }
                }
                </script>
                <a class="btn btn-warning btn-lg btn-sm pull-right" href="briancalendar" role="button">Brian's Calendar</a>
            </p>
        </div>


        <script>
        $('#loading-example-btn').click(function () {
            var btn = $(this)
            btn.button('loading')
            $.ajax(...).always(function () {
                btn.button('reset')});
        });
        </script>


    </div>
</div>






 <footer>
    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="btn-group btn-group-justified">
                 <div class="btn-group">
                    <a href = "index" class = "btn btn-primary">Feed</a>
                 </div>
                  <div class="btn-group">
                    <a href = "profile" class = "btn btn-primary">Profile</a>
                  </div>
                  <div class="btn-group">
                    <a href = "friends" class = "btn btn-primary">Friends</a>
                  </div>
                  <div class="btn-group">
                    <a href = "settings" class = "btn btn-primary">Settings</a>
                  </div>
                </div>
        </div>
    </div>
</footer>


<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src = "js/bootstrap.js"></script>

</body>
</html>