
<!DOCTYPE html>
<html>
        <head>
                <title>instaCal </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "css/bootstrap.min.css" rel = "stylesheet">
                <link href = "css/styles.css" rel = "stylesheet">
        </head>

 <div class="container" >
      <div class="header">
        <ul class="nav nav-pills pull-right">

          
        </ul>
        <h2 class="text-muted">InstaCal</h2>
      </div>

            <div class = "container" style="margin-bottom:75px">
                <h4>Please email us at help@instacal.com </h4>


            </div>
               
                




            <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src = "js/bootstrap.js"></script>
               
        </body>

<footer>
    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="btn-group btn-group-justified">
                 <div class="btn-group">
                    <a href = "index" class = "btn btn-primary">Feed</a>
                 </div>
                  <div class="btn-group">
                    <a href = "profile" class = "btn btn-primary">Profile</a>
                  </div>
                  <div class="btn-group">
                    <a href = "friends" class = "btn btn-primary">Friends</a>
                  </div>
                  <div class="btn-group">
                    <a href = "settings" class = "btn btn-default">Settings</a>
                  </div>
                </div>
        </div>
    </div>
</footer>


</html>