<!DOCTYPE html>
<html>
        <head>
                <title>instaCal Event </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "/css/bootstrap.min.css" rel = "stylesheet">
                <link href = "/css/styles.css" rel = "stylesheet">
        </head>
        <body>
 

            <div class = "navbar navbar-default navbar-static-top">
                <div class = "container">
                               
                    <a href = "index" class = "navbar-brand">instaCal</a>
                               
                </div>
            </div>

            <div class = "container" style="margin-bottom:75px">
                <div class= "event">
                    <h3>{{title}}</h3>
                    <label for="start">Event starts:{{start}}</label>
                    <p></p>
                    <label for="end">Event ends:{{end}}</label>
                    <hr></hr>
                    <label for="notes">Description/Notes:{{notes}}</label>
                </div>


                
<div class = "container" style="margin-top: 10px"> 

                <p><a href = "index" class = "btn btn-info pull-left">Edit</a>

                <a href = "index" role="button" class = "btn btn-danger pull-right">Delete</a>
            

            
            </p>
        </div>






        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src = "js/bootstrap.js"></script>

    </body>

    <div class='element'> 

        <button type="button" id="close-window-btn" data-loading-text="Loading..." class="btn btn-danger close-window-btn"> Close
        </button>
    </div>

    <script>
    $('#close-window-btn').click(function () {
        close();
    });
    </script>



</html>