
<!DOCTYPE html>
<html>
        <head>
                <title>instaCal - Feed </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "css/bootstrap.min.css" rel = "stylesheet">
                <link href = "css/styles.css" rel = "stylesheet">
        </head>
        <body>
 
            <div class = "navbar navbar-default navbar-static-top">
                <div class = "container">
                               
                    <a href = "index" class = "navbar-brand">instaCal</a>
                </div>
            </div>
            
            <div class = "container" style="margin-bottom:1px" >
                  <div class = "container" style="margin-bottom:5px">
               
                <div class = "container" align="center" style="margin-bottom:2px">
       
                     <a href = "index" class = "btn btn-default">Feed</a>
                     <a href = "notifi" class = "btn btn-info">Notifications</a>

                 </div>
               
            </div>
            <h4>Calendar Feed</h4>
            <p><a href= "/grantprofile">Grant Wiesnoski</a> added event to his calender Road Trip 2015. </p>
            <p><a href= "/snoopprofile">Snoop Dogg </a> updated his calender Tour 2014. </p>
            <p><a href= "/imaginedragonsprofile">Imagine Dragons </a> are performing at Valley View Casino  soon.</p>
            <p><a href= "/grantprofile">Grant Wiesnoski</a> and <a href= "/brianprofile">Brian Clark</a> collaborated on an event in COGS 120/CSE 170. </p>



            </div>
               
                




			<footer>


    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="btn-group btn-group-justified">
                 <div class="btn-group">
                    <a href = "index" class = "btn btn-default">Feed</a>
                 </div>
                  <div class="btn-group">
                    <a href = "profile" class = "btn btn-primary">Profile</a>
                  </div>
                  <div class="btn-group">
                    <a href = "friends" class = "btn btn-primary">Friends</a>
                  </div>
                  <div class="btn-group">
                    <a href = "settings" class = "btn btn-primary">Settings</a>
                  </div>
                </div>
        </div>
    </div>
</footer>

            <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src = "js/bootstrap.js"></script>
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-48537523-1', 'instacal.herokuapp.com');
              ga('send', 'pageview');

            </script>

               
        </body>
</html>