<!DOCTYPE html>
<html>
        <head>
                <title>instaCal - Change Password </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "css/bootstrap.min.css" rel = "stylesheet">
                <link href = "css/styles.css" rel = "stylesheet">
        </head>
        <body>
 
            <div class = "navbar navbar-default navbar-static-top">
                <div class = "container">
                               
                    <a href = "index" class = "navbar-brand">instaCal</a>
                                        
                </div>
            </div>
            
                 <div class="container" style="margin-bottom:25px">
                    <h4>Settings</h4>
                    <label for="Oldpsswd">Current Password</label>
                    <input type="password" class="form-control" placeholder="Current Password" required>
                    <label for="newpsswd">New Password</label>
                    <input type="password" class="form-control" placeholder="New Password" required>
                    <label for="newpsswdconfirm">Confirm New Password</label>
                    <input type="password" class="form-control" placeholder="New Password" required>
                    <p></p>
                    <a href = "settings" class = "btn btn-lg btn-success btn-block" >Update</a>
                    <a href = "settings" class = "btn btn-lg btn-info btn-block" >Cancel</a>
                </div>
                


            <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src = "js/bootstrap.js"></script>
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-48537523-1', 'instacal.herokuapp.com');
              ga('send', 'pageview');

            </script>
   
        </body>

     <footer>
    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="btn-group btn-group-justified">
                 <div class="btn-group">
                    <a href = "index" class = "btn btn-primary">Feed</a>
                 </div>
                  <div class="btn-group">
                    <a href = "profile" class = "btn btn-primary">Profile</a>
                  </div>
                  <div class="btn-group">
                    <a href = "friends" class = "btn btn-primary">Friends</a>
                  </div>
                  <div class="btn-group">
                    <a href = "settings" class = "btn btn-default">Settings</a>
                  </div>
                </div>
        </div>
    </div>
</footer>
</html>
